<ion-view title="我的">
    <ion-nav-buttons side="left">
        <button class="button button-clear ion-android-settings" ui-sref="login"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-chatbox-working" ui-sref="login"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-person" style="font-size:32px;border-radius:50%;width:40px;height: 40px;
                    line-height: 40px;margin-top: 5px;"></i>
                <p>登陆/注册</p>
            </a>
            <div class="item">
                <div class="row">
                    <a class="col" style="text-align: center" ui-sref="login">
                        <span>0</span>
                        <p>评价</p>

                    </a>
                    <span>|</span>
                    <a class="col" style="text-align: center" ui-sref="login">
                        <span>0</span>
                        <p>红包</p>

                    </a>
                    <span>|</span>
                    <a class="col" style="text-align: center" ui-sref="login">
                        <span>0</span><br>
                        <p>关注</p>
                    </a>
                </div>
            </div>
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-soup-can-outline"></i>
                <p>我的积分</p>
            </a>
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-ios-location-outline"></i>
                <p>我的地址</p>
            </a>
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-android-star-outline"></i>
                <p>我的收藏</p>
            </a>
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-ios-help-outline"></i>
                <p>意见反馈</p>
            </a>
            <a class="item item-icon-left" ui-sref="login">
                <i class="icon ion-ios-star"></i>
                <p>申请认证</p>
            </a>
        </div>
    </ion-content>

</ion-view>