<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="首页" icon-on="icon ion-ios-filing" icon-off="icon ion-ios-filing-outline" ui-sref="tabs.home">
        <ion-nav-view name="tabs-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="订单" icon-on="icon ion-document-text" icon-off="icon ion-document-text" ui-sref="tabs.order">
        <ion-nav-view name="tabs-order"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-on="icon ion-person" icon-off="icon ion-person" ui-sref="tabs.message">
        <ion-nav-view name="tabs-message"></ion-nav-view>
    </ion-tab>

</ion-tabs>