<ion-view title="">
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-more"></button>
    </ion-nav-buttons>
    <ion-content>
        <h3>这些年，你的冰箱可能都用错了！</h3>
        <span>2016-09-25 11:18:39</span><br><br>
        <p>冰箱家家都有，打开冰箱，通常里面都会被塞得满满的：剩菜、剩饭、各种果蔬、牛奶、鸡蛋、熟肉等等。但是哪些食物应该冷
            藏，哪些食物应该冷冻？你的食物储藏方式正确吗？这些年，你的冰箱可能真的都用错了！</p><br>
        <img src="images/IMG_0490_03.jpg"><br>

        <p>婴儿湿疹的发病一般在一岁之前，有些更早期的满月就会发。表现为皮肤的红斑、瘙痒、发热、疼痛、甚至是小水泡，由于瘙痒
            引起的搔抓会导致皮肤损伤和感染。与遗传因素、环境因素、免疫因素有关。部分发病轻微，但也有多种重度婴幼儿湿疹表现为
            慢性过程，经久不愈。</p><br><br>
        <p>婴儿湿疹的发病一般在一岁之前，有些更早期的满月就会发。表现为皮肤的红斑、瘙痒、发热、疼痛、甚至是小水泡，由于瘙痒
            引起的搔抓会导致皮肤损伤和感染。与遗传因素、环境因素、免疫因素有关。部分发病轻微，但也有多种重度婴幼儿湿疹表现为
            慢性过程，经久不愈。</p><br><br>
        <p>婴儿湿疹的发病一般在一岁之前，有些更早期的满月就会发。表现为皮肤的红斑、瘙痒、发热、疼痛、甚至是小水泡，由于瘙痒
            引起的搔抓会导致皮肤损伤和感染。与遗传因素、环境因素、免疫因素有关。部分发病轻微，但也有多种重度婴幼儿湿疹表现为
            慢性过程，经久不愈。</p><br><br>
    </ion-content>
</ion-view>