<ion-view title="坏情绪与抑郁症，一墙之隔">
    <ion-content>
        <div class="container">
            <div class="page active" style="font-size:26px;line-height:36px;text-align: center">
                <h5>微讲堂第37期</h5>
                <h2>坏情绪VS抑郁症，一墙之隔</h2>
                <div class=" item item-avatar-left">
                    <i class="icon ion-android-textsms"></i>
                    <p>不是所有的坏情绪都叫抑郁症</p>
                </div>
                <div class=" item item-avatar-left">
                    <i class="icon ion-clock"></i>
                    <p>10.13(周四)<br>下午4：00-5：00</p>
                </div>
                <div class=" item item-avatar-left">
                    <i class="icon ion-person-stalker"></i>
                    <p>胜利</p>
                </div>
                <div class=" item item-avatar-left">
                    <i class="icon ion-ios-location"></i>
                    <p>进入微信群听课</p>
                </div>
                <div class=" item item-avatar-left">
                    <i class="icon ion-social-usd"></i>
                    <p>免费</p>
                </div>
            </div>
            <div class="page" style="font-size:26px;line-height:36px;text-align: center">
                <img src="images/tx_03.jpg" style="border-radius: 50%">
                <h2>主讲人：胜利</h2>
                <p>北京和睦家心里咨询中心副主任医师</p>
                <p>北京大学精神卫生研究所博士毕业</p>
                <p>曾在哈佛大学人类学系进修一年</p>
                <p>现担任中国心理卫生协会心理治疗与心理咨询专业委员会委员，中国康复医学会心血管病专业委员会委员</p>

            </div>
            <div class="page" style="font-size:26px;line-height:36px;text-align: center">
                <h2>提问专区</h2>
                <p>直播活动开始前，大家可以在下面进行提问，我们将精选部分问题在活动当天与讲师进行互动。</p>
                <button class="button button-assertive">提问</button>
            </div>
            <div class="page" style="font-size:26px;line-height:36px;text-align: center">
                <h2>讲座参与方式</h2>
                <p>扫二维码家客服，有客服加入掌药微信粉丝群，参与语音与文字直播。</p>
                <img src="images/235.jpg">
                <p>掌药客服微信号：lkhealth2</p>
                <div class="advice">
                    <img src="images/yao_03.jpg">
                    <p>找药、询药、购药、一站式药事服务，就上掌上药店</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>